/* mobile */
@media (max-width: 992px - 1) {
    .amount {
        width: 80%;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .amount {
        width: 425px;
    }
    
}

.amount-container {
    max-width: 950px;
}

.gift-img {
    width: 300px;
}
