<div class="mb-5">
  <h2 class="h2 mb-5">{{'CALCULATOR.TITLE' | translate}}</h2>
  <label for="basic-url ">{{'CALCULATOR.AMOUNT' | translate}}</label>
  <div class="d-flex justify-content-center mx-3">
    <div class="container-fluid header-container amount-container">
      <div class="row">
        <div class="col-md-3">
          <button (click)="getFloorAmount()" type="button" class="btn btn-primary m-3" [disabled]="!floorCards">{{'CALCULATOR.PREV-AMOUNT' | translate}}</button>
        </div>
        <div class="col-md-6">
          <div class="input-group my-3 amount">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">€</span>
            </div>
            <input type="number" [(ngModel)]="amount" class="form-control" id="basic-url"
              aria-describedby="basic-addon3">
          </div>
        </div>
        <div class="col-md-3">
          <button (click)="getCeilAmount()" type="button" class="btn btn-primary m-3" [disabled]="!ceilCards">{{'CALCULATOR.NEXT-AMOUNT' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <button (click)="validate()" type="button" class="btn btn-primary m-3" [disabled]="!amount">{{'CALCULATOR.VALIDATE' | translate}}</button>

  <div class="container-fluid d-flex justify-content-center my-5">
    <div class="row">
      <div *ngFor="let card of cards">
        <div class="card m-3">
          <img alt="gift" class="gift-img" src="assets/img/gift.svg" />
          <div class="card-body">
            <p class="card-text"><b>{{ card }} €</b></p>
          </div>
        </div>
      </div>

      <div *ngIf="amountNotAvailable">
        <p>{{'CALCULATOR.AMOUNT-NOT-AVAILABLE' | translate}}</p>
        <div *ngIf="floorCards">
          <div class="card m-3">
            <div class="card-body">
              <p class="card-text">{{ floorCards.value }} € </p>
              <button (click)="valideAmount(floorCards)" type="button" class="btn btn-primary"
                [disabled]="!amount">{{'CALCULATOR.VALIDATE' | translate}}</button>
            </div>
          </div>
        </div>

        <div *ngIf="ceilCards">
          <div class="card m-3">
            <div class="card-body">
              <p class="card-text">{{ ceilCards.value }} € </p>
              <button (click)="valideAmount(ceilCards)" type="button" class="btn btn-primary"
                [disabled]="!amount">{{'CALCULATOR.VALIDATE' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loading" class="spinner-border" role="status">
      <span class="sr-only">{{'CALCULATOR.LOADING' | translate}}</span>
    </div>
  </div>