.main-content {
    text-align: center;
}

/* mobile */
@media (max-width: 992px - 1) {
    .logo-img {
        margin: 10px;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .logo-img {
        margin: 100px;
    }
}


.red-content {
    background-color: #CC292C;
    min-height: 75px;
    padding: 15px 0;
    position: relative;
    z-index: 999;
    color: white;
}

.header-container {
    max-width: 1320px;
}

h2, .h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

p {
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
}

/* Image is containing a blank space on the right */
.wave-separator-container {
    overflow: hidden;
}
.wave-separator {
    width: 120%;
}

/* Image is containing a blank space on the bottom */
.bottom-wave {
    margin-bottom: -10px;
}