<!--The content below is only a placeholder and can be replaced.-->
<div class="main-content">
  
  <div class="red-content">
    <img class="logo-img" width="300" alt="wedoogift Logo" src="assets/img/logo-blanc-wedoogift.svg" />
    <div class="container-fluid header-container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="h1">
            {{'APP.TITLE' | translate}}
          </h1>
          <p class="my-5">{{'APP.SUBTITLE' | translate}} </p>
        </div>
        <div class="col-md-6">
          <img alt="wedoogift Logo" src="assets/img/cheques.png" />
        </div>
      </div>
    </div>
  </div>

  <div class="wave-separator-container">
    <img class="wave-separator" alt="vague" src="assets/img/vague.svg" />
  </div>

  <app-calculator (amountEvent)="amountUpdate($event)"></app-calculator>

  <div>
    <img class="bottom-wave" width="100%" alt="vague" src="assets/img/vague-bottom.svg" />
  </div>

  <div class="red-content py-5">
    <p class="my-5">{{'APP.BOTTOM-TEXT' | translate}}</p>
  </div>


</div>